{% extends "navbar.html" %}
{% block page_content %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-2 text-white bg-dark">
            <div class="card-header text-center">
                <h2 class="m-0">Contacts</h2>
            </div>
        </div>
        {% for contact in contacts %}
        <div class="card text-light bg-dark mb-2">
            <div class="card-body text-center p-1">
                <strong>{{ contact.name }}</strong> <small>({{ contact.phone }})</small>
            </div>
            <div class="card-footer p-1">
                <a class="btn btn-outline-light btn-sm btn-block" href="#" role="button">Send Message</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}