{% extends "navbar.html" %}
{% block page_content %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3 text-white bg-dark">
            <div class="card-header text-center">
                <h2 class="m-0">Groups</h2>
            </div>
        </div>
        {% for group in groups %}
        <div class="card text-light bg-dark mb-1">
            <div class="card-body text-center p-0">
                <a class="btn btn-outline-light btn-sm btn-block" href="{{ url_for('main.chat_public', group_id=group.id) }}" role="button"><strong>{{ group.name }}</strong></a>
            </div>
        </div>
        {% endfor %}
        {% if not groups %}
        <h3 class="m-5 text-center">No groups</h3>
        {% endif %}
        <div class="card text-light bg-dark mt-3">
            <div class="card-body text-center p-0">
                <a class="btn btn-outline-light btn-block" href="{{ url_for('main.add_group') }}" role="button"><strong>Add Group</strong></a>
            </div>
        </div>
        <div class="card text-light bg-dark mt-1">
            <div class="card-body text-center p-0">
                <a class="btn btn-outline-light btn-block" href="{{ url_for('main.create_group') }}" role="button"><strong>Create Group</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}