{% extends "navbar.html" %}
{% block page_content %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3 text-white bg-dark">
            <div class="card-header text-center">
                <h2 class="m-0">Profile</h2>
            </div>
        </div>
        <div class="card text-light bg-dark mb-1">
            <div class="card-header text-center p-1">
                Name
            </div>
            <div class="card-body text-center p-0">
                {{ current_user().name }}
            </div>
        </div>
        <div class="card text-light bg-dark mb-1">
            <div class="card-header text-center p-1">
                Phone
            </div>
            <div class="card-body text-center p-0">
                {{ current_user().phone }}
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}